@model List<FinalEksamen.SponsorerTb>
@{
    ViewBag.Title = "Sponsore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="SponsCon">
    <div class="row">
        <div class="col-3">
            <h2>GULD SPONSORE </h2>
        </div>
    </div>
    <div class="row imgrow">
        @foreach (var item in Model.Where(i => i.Fk_Level == 1))
        {
            <div class="col-3">
                <img src="~/Content/SponsImg/@item.sponLogo" width="300" alt="@item.SponName" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-3">
            <h2>SØLV SPONSORE </h2>
        </div>
    </div>
    <div class="row imgrow">

        @foreach (var item in Model.Where(i => i.Fk_Level == 2))
        {

            <div class="col-2">
                <img src="~/Content/SponsImg/@item.sponLogo" alt="@item.SponName" />
            </div>

        }



    </div>
    <div class="row ">
        <div class="col-3">
            <h2>ALMENDELIGE SPONSORE </h2>
        </div>
    </div>
    <div class="row imgrow">

        @foreach (var item in Model.Where(i => i.Fk_Level == 3))
        {
            <div class="col-2">
                <img src="~/Content/SponsImg/@item.sponLogo" width="300" alt="@item.SponName" />
            </div>
        }
    </div>
</div>
  


