
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-danger mt-3 pt-3 mb-3">
    <p>Tak.vi har modtaget din besked og vi vender tilbage hurtigst muligt...... :-)  </p>
    <a href="/Home/Kontakt" class="btn btn-link text-dark" >til Kontakt side</a>
</div>


