
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LogIndLayout.cshtml";
}

<div class="" id="LogInd">
   
    <form action="" method="post">
        <br />
        <label>brugernavn</label>
        <input type="text" name="UserName" placeholder="Din brugernavn"  />
        <br />
        <label>PassWord</label>
        <input type="password" name="Password" placeholder="din PassWord"  />
        <br />

       
        <div id="lower">
           
            <input type="submit" value="Logind">
        </div><!--/ lower-->
    </form>

</div>
