@model FinalEksamen.SponsLevelTb

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container panel">
    <h2>Slet En sponsorLevel</h2>

    <h3>du kommer til at slette denne item fra SponsLevelTb,er du sikker?</h3>
    <div>
        <h4>SponsLevelTb</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SponsLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SponsLevel)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Selt" class="btn btn-default" /> |
                @Html.ActionLink("fortryd uden sletning", "Index", "", new { @class = "MyLink" })
            </div>
        }
    </div>
</div>